.DS_Store
Thumbs.db
db.json
*.log
node_modules/*
public/*
.deploy*/


# user
scaffolds
.deploy_git
source/_posts/.idea
/themes/*
!themes/jacman/
!themes/hexo-theme-mellow/
!source/*
!.gitignore
!package.json
