
figure.highlight {
	border: none;
	background: #2d2d2d;
	color: #cccccc;
}


figure.highlight pre {
	display: block;
	overflow-x: auto;
	background: #2d2d2d;
	color: #cccccc;
	padding: 0.5em;
}

figure.highlight .code {
	border-left: 1px solid #665;
}

.entry .gist, figure.highlight {
	text-shadow: none;
}